---
layout: default
---

<section id='content'>
{% for post in site.posts %}
  <article class='{{ post.type }}'>
    <a name='{{ post.url }}' href='#{{ post.url }}'><h2>{% if post.type %}<code><b>{{ post.type }}</b> {{ post.url_path }}</code> {% endif %}{{ post.title }}</h2></a>
    <section class='body'>
      {{ post.content }}
      <p>For report bug or request a feature, chat me on <a href="https://facebook.com/njnk.xnxx">Facebook</a> or mail to <a href="mailto:nouhimetv@gmail.com">nouhimetv@gmail.com</a></p>
    </section>
  </article>
{% endfor %}
</section>
