---
layout: default
---

<section id='content'>
{% for post in site.posts %}
  <article class='{{ post.type }}'>
    <a name='{{ post.url }}' href='#{{ post.url }}'><h2>{% if post.type %}<code><b>{{ post.type }}</b> {{ post.url_path }}</code> {% endif %}{{ post.title }}</h2></a>
    <section class='body'>
      {{ post.content }}
      <p>Lapor bug atau request fitur bisa chat ke fb gua <a href="https://facebook.com/njnk.xnxx">Disini</a>.</p>
      <script src="https://utteranc.es/client.js"
        repo="tixbot/xylertix"
        issue-term="{{ post.url_path }}"
        theme="github-light"
        crossorigin="anonymous"
        async>
      </script>
    </section>
  </article>
{% endfor %}
</section>
