---
layout: default
---

<section id='content'>
{% for post in site.posts %}
  <article class='{{ post.type }}'>
    <a name='{{ post.url }}' href='#{{ post.url }}'><h2>{% if post.type %}<code><b>{{ post.type }}</b> {{ post.url_path }}</code> {% endif %}{{ post.title }}</h2></a>
    <section class='body'>
      {{ post.content }}
      <p>For errors responses, see the <a href="#response-status-codes">response status codes documentation</a>.</p>
    </section>
  </article>
{% endfor %}
</section>
